<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

</head>
<body>
    <p>
        <a th:href="@{/}">
            Back to product list
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{product/update}" method="post" th:object="${product}" novalidate="novalidate">
            <input type="hidden" th:field="*{id}">
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}">
            </div>
            <div>
                <label>Country</label>
                <input type="text" th:field="*{country}">
            </div>
            <div>Price</div>
            <input type="text" th:field="*{price}">
            <input type="submit" value="Modify">
        </form>
    </div>

<footer th:replace="layout :: head"></footer>
</body>
</html>